src/main/resources/Fargate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Fargate/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Fargate" targetNamespace="http://www.example.org/Fargate/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Fargate/">
      <xsd:element name="concatOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="inputElement1" type="xsd:string" />
          	<xsd:element name="inputElement2" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="concatOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultantElement" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="operationsRequest">
    <wsdl:part element="tns:concatOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationsResponse">
    <wsdl:part element="tns:concatOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Fargate">
    <wsdl:operation name="operations">
      <wsdl:input message="tns:operationsRequest"/>
      <wsdl:output message="tns:operationsResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FargateSOAP" type="tns:Fargate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operations">
      <soap:operation soapAction="http://www.example.org/Fargate/operations"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fargate">
    <wsdl:port binding="tns:FargateSOAP" name="FargateSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
